

:root {
  --bg-color: #f1f1f1;
  --text-color: #222222;
  --text-input: #222222;
  --card-bg: #f5f5f5;
  --border-color: #cccccc;
  --neon-accent-green: #02b5cc;
  --neon-accent-blue: #00b5cc;
  --neon-accent-red: #ff4d4d;
  --neon-accent-magenta: #e762d7ff;
  --gradiente: linear-gradient(180deg,rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 1) 55%, rgba(241, 241, 241, 1) 60%, rgba(241, 241, 241, 1) 100%);
  --transition-time: 0.3s;
}

.dark-mode {
  --bg-color: #000000;
  --text-color: #f1f1f1;
  --text-input: #5effa8;
  --card-bg: #1f1f1f;
  --border-color: #444444;
  --neon-accent-green: #5effa8;
  --neon-accent-blue: #00b5cc;
  --gradiente: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color var(--transition-time), color var(--transition-time);
}