.card {
  background: var(--card-bg);
  border: 2px solid var(--neon-accent-green);
  border-radius: 1rem;
  overflow: hidden;
  transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time);
    position: relative;
  &:hover {
    transform: scale(1.05);
  }
  .favorito {
    position: absolute;
    top: 22.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;

  }
  .contenido {
    padding: 1rem;

    h3 {
      margin: 0;
      font-size: 1.2rem;
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.9rem;
    }
  }
}
.btn-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    box-sizing: border-box;

    button{
        background-color: var(--neon-accent-green);
        border: none;
        color: var(--neon-accent-blue);
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--neon-accent-green);
        cursor: pointer;    
        &:hover {
            background-color: transparent; 
            color: var(--text-color);
            border: 1px solid var(--neon-accent-green);
            box-shadow: inset 0 0 0.5em 0 var(--neon-accent-green), 0 0 0.5em 0 var(--neon-accent-green);
        }
    }
}
.estado {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: capitalize;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  &.alive .dot {
    background-color: #4caf50; // verde
  }

  &.dead .dot {
    background-color: #f44336; // rojo
  }

  &.unknown .dot {
    background-color: #9e9e9e; // gris
  }
}
