.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 10;
transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time);

  .logo img {
    height: 40px;
    object-fit: contain;
  }

  .toggle-modo {
    background: none;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    border-radius: 50%;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--text-color);
      color: var(--bg-color);
    }
  }
}
